# eval in regression 


### embedings

In [1]:
import pandas as pd
import numpy as np

In [2]:

df = pd.read_csv("./day.csv")

In [3]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [4]:
df.shape,df.columns

((731, 16),
 Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
        'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
        'casual', 'registered', 'cnt'],
       dtype='object'))

In [5]:
df['season'].unique()

array([1, 2, 3, 4], dtype=int64)

### preprocessing

In [6]:
from sklearn import preprocessing

In [7]:
def Label_encoder(df,columns):
    
    le = preprocessing.LabelEncoder()
    le.fit_transform(df[column])
                        
    
    ohe = preprocessing.OneHotEncoder()
    temp_array = ohe.fit_transform(df[[column]]).toarray()
    column_names = [column+"_"+str(m) for m in le.classes_]
     
    return(pd.DataFrame(temp_array,columns = column_names))

In [8]:
df.shape

(731, 16)

In [9]:
categorical_var = [ 'season', 'yr', 'mnth', 'holiday', 'weekday',
        'workingday', 'weathersit']
numerical_var = ['temp', 'instant','atemp', 'hum', 'windspeed']

In [10]:
df.shape,df.columns

((731, 16),
 Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
        'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
        'casual', 'registered', 'cnt'],
       dtype='object'))

In [11]:
df2 = df[numerical_var]
df2.head()

       temp  instant     atemp       hum  windspeed
0  0.344167        1  0.363625  0.805833   0.160446
1  0.363478        2  0.353739  0.696087   0.248539
2  0.196364        3  0.189405  0.437273   0.248309
3  0.200000        4  0.212122  0.590435   0.160296
4  0.226957        5  0.229270  0.436957   0.186900

In [12]:
for column in categorical_var:
    df2 = pd.concat([df2,Label_encoder(df,column)],axis =1 )

In [13]:
df2.shape,df.columns

((731, 37),
 Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
        'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
        'casual', 'registered', 'cnt'],
       dtype='object'))

### data spliting

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x,x_test, y,y_test = train_test_split(df2,df['cnt'],test_size = 0.3)

### linear regression

In [16]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [17]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [18]:
y_pred = model.predict(x_test)

### R-square / Means-square-error / mean-absolute-error

In [19]:

from sklearn.metrics import r2_score,mean_squared_error, mean_absolute_error

In [20]:
r2_score(y_test,y_pred)

0.8333424219101705

In [21]:
model.score(x,y)

0.8494027029143024

In [22]:
mean_squared_error(y_test,y_pred)

628562.3904759188

In [24]:
sum(abs(y_test - y_pred))/sum(y_test)

0.12832927547164577